.container-fluid {
  width: 100%;
}

.header {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  height: 70px;
  background-color: rgb(54, 21, 21);
}

.Disabled {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.heading {
  color: chartreuse;
}

button {
  width: 82%;
}

.table {
  width: 300px;
}

.pressBtn {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 38%;
  top: 34%;
  z-index: 2;
}

.cards {
  position: relative;
}

.card {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: antiquewhite;
  height: 170px;
  width: 170px;
}

.left-body {
  height: 530px;
}

body {
  background-color: grey;
}

.arrow {
  background: #000;
  height: 30%;
  left: 49%;
  position: absolute;
  top: 20%;
  transform-origin: 50% 100%;
  width: 2%;
  z-index: 1;
  animation-play-state: paused;
}
.show {
  display: none;
}

.arrowRun {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
